# ignore everything
# except top-level directories (directories aren't tracked, so this allows individual files to be "whitelisted")
*
!*/

# need to explicitly exclude directories with nested repos for some reason
mnt
nix-projects
!/.config/**

# these projects use .config as a cache for some reason
/.config/spotify
/.config/discord
/.config/REAPER
/.config/Code
/.config/pulse
Documents

# remove state files
**/*.state

# remove logs
**/logs
**/*.log

# Directories to INCLUDE
!/bin/**
!/.git-crypt/**
!/system/**

# Files to INCLUDE
!/.gitattributes
!/.gitignore
!/.Xresources

# remove state files
**/*.state

# remove logs
**/logs
**/*.log

