# ignore everything
# except top-level directories (directories aren't tracked, so this allows individual files to be "whitelisted")
*
!*/

# need to explicitly exclude directories with nested repos for some reason
mnt
nix-projects
!/.config/**

# these projects use .config as a cache for some reason
/.config/spotify
/.config/discord
/.config/REAPER
/.config/Code
/.config/pulse
/.config/obs-studio
/.config/obs-studio/profiler_data
/.config/heroic
/.config/legendary
/.config/Signal
/.config/cef_user_data
/.config/lutris
/.config/menus/applications-merged
/.config/GIMP
/.config/unity3d
/.config/deluge
/.config/photon
/.config/draw.io
/.config/darktable
/.config/ibus
/.config/kdeconnect
/.config/libreoffice
/.config/mozc
/.config/session
/go

/.local/share/FoundryVTT

Documents

# remove state files
**/*.state

# remove logs
**/logs
**/*.log

# Directories to INCLUDE
!/bin/**
!/.git-crypt/**
!/system/**

# Files to INCLUDE
!/.gitattributes
!/.gitignore
!/.Xresources

# remove state files
**/*.state

# remove logs
**/logs
**/*.log

# remove any certs / keys
**/*.pem
**/*.key
**/*.cert
